AWS_ACCESS_KEY_ID=
AWS_ACCESS_KEY_SECRET=
REGION=eu-west-2
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN_KEY=
TWITTER_ACCESS_TOKEN_SECRET=
KINESIS_STREAM_NAME=twitterstream
KINESIS_SHARDS_COUNT=1
KINESIS_WAIT_BETWEEN_CALLS_MS=5
TWITTER_USER_ID=
